<h1>LiteJS</h1>
<a href="https://bitbucket.org/lite-js/litejs">Source</a>
<p>
    LiteJS is light weight javascript framework to create rich front end application.
</p>
<p>
    LiteJS is only 5.3KB when gzipped and 16kb when just minified. </p>
<p>
    It uses the MVC design pattern to structure the web application code. You can create plugable modules, services, components
    and providers and many others to structure your application code. You can also create plugins which can you reuse in
    other projects.
</p>